<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Edit player</h1>
    <form action="/players/{{ player['id'] }}" method="POST">
        <label for="">Image URL:</label>
        <input type="text" name="image_url" value="{{ player['image_url'] }}">

        <label for="">name:</label>
        <input type="text" name="name" value="{{ player['name'] }}">

        <label for="">ppg:</label>
        <input type="text" name="ppg" value="{{ player['ppg'] }}">

        <label for="">rpg:</label>
        <input type="text" name="rpg" value="{{ player['rpg'] }}">

        <label for="">apg:</label>
        <input type="text" name="apg" value="{{ player['apg'] }}">

        <label for="">championship:</label>
        <input type="text" name="championship" value="{{ player['championship'] }}">

        <button>Update player</button>
    </form>
</body>
</html>