<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>NBA Top 5 Players</h1>

    {% if current_user() %}
    <h3>List Your Top 5 NBA Players {{ current_user()['first_name'] }}</h3>

    <section class="controls">
        <form action="/sessions/delete" method="POST">
            <button>Log out</button>
        </form>
        <a href="/players/new">Add</a>
        <a href="/players/comments">Show Comments</a>
    </section>

    <section class="players">
        {% for player in players: %}
        <section class="player">
            <header>
                <h2>{{ player['name'] }}</h2>

                <section class="controls">
                    <a href="/players/{{ player['id'] }}/edit">Edit</a>

                    <form action="/players/{{ player['id'] }}/delete" method="POST">
                        <button>Delete</button>
                    </form>

                <section class="controls">
                    <a href="/players/{{ player['id'] }}/comment">Comment</a>
                </section>
            </header>

            <img src="{{ player['image_url'] }}" alt="">
            <p>ppg: {{ player['ppg'] }}</p>
            <p>rpg: {{ player['rpg'] }}</p>
            <p>apg: {{ player['apg'] }}</p>
            <p>championship: {{ player['championship'] }}</p>
        </section>
        {% endfor %}
    </section>
    {% else %}
    <a href="/users/new">Sign up</a>
    <a href="/sessions/new">Log in</a>
    {% endif %}
</body>
</html>